<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
THIS IS A LOGIN FORM FOR LIBRARY
<br>
<form action="#" th:action="@{/login}" th:object="${myUser}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="Doe" th:field="*{username}"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" value="Doe" th:field="*{password}"><br><br>
    <input type="submit" value="Submit">
</form>
<div align="center" th:if="${param.error}">
    <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
</div>
<br>
<a href="/signup">SIGN UP ?</a>
</body>
</html>