<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(myUser)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>username</th>
                <th>Name</th>
                <th>Password</th>
            </tr>
            <tr th:each="product : ${myUser}">
                <td th:text="${product.username}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.password}"></td>
            </tr>
        </table>
    </div>
</body>
</html>